.bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }

  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
  }
.custom-navbar-color {
    background-color: #00695c;
}