.switch {
    border: 1px solid #ccc;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    cursor: pointer;
    display: inline-block;
}

.switch-toggle {
    border: 1px solid #999;
    box-shadow: 1px 1px 1px #ccc;
    width: 25px;
    height: 24px;
    left: 0;
    border-radius: 12px;
    background: white;
    position: relative;
    transition: left .2s ease-in-out;
}

.switch.on {
    background: green;
}

.switch.on .switch-toggle {
    left: 23px;
}

.switch.disabled {
    cursor: not-allowed;
}
/*
footer.page-footer {
            position: absolute;
						margin-top: 10rem;
            bottom: 0;
            width: 100%;
}*/

.discord-container {
            display: flex;
            width: 100%;
            padding: 40px 0;
            align-items: center;
            justify-content: center;
          }

.discord-container a {
            background: #7289DA;
            padding: 0 20px;
            line-height: 35px;
            color: #fff;
            font-family: 'Helvetica', 'Arial', sans-sefir;
            font-size: 20px;
            display: block;
            text-decoration: none;
            border-radius: 3px;
          }
					.hm {
						background: rgb(230, 230, 230);
					}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #00695c;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.m-t {
	margin-top: 50px;
}
